<div data-hook="customer_return_authorization_form_fields">
  <table class="index">
    <thead>
      <tr data-hook="rma_header">
        <th><%= Spree.t(:product) %></th>
        <th><%= Spree.t(:quantity_shipped) %></th>
        <th><%= Spree.t(:quantity_returned) %></th>
        <th><%= Spree.t(:return_quantity) %></th>
      </tr>
    </thead>
    <tbody>
      <% @return_authorization.order.shipments.shipped.collect{|s| s.inventory_units.to_a}.flatten.group_by(&:variant).each do | variant, units| %>
        <tr id="<%= dom_id(variant) %>" data-hook="rma_row" class="<%= cycle('odd', 'even')%>">
          <td>
            <div class="variant-name"><%= variant.name %></div>
            <div class="variant-options"><%= variant.options_text %></div>
          </td>
          <td class="align-center"><%= units.select(&:shipped?).size %></td>
          <td class="align-center"><%= units.select(&:returned?).size %></td>
          <td class="return_quantity align-center">
            <% if @return_authorization.received? %>
              <%= @return_authorization.inventory_units.group_by(&:variant)[variant].try(:size) || 0 %>
            <% elsif units.select(&:shipped?).empty? %>
              0
            <% else %>
              <%= number_field_tag "return_quantity[#{variant.id}]",
                @return_authorization.inventory_units.group_by(&:variant)[variant].try(:size) || 0, {:style => 'width:100px;', :min => 0} %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" style="text-align: right;">RMA Amount</td>
        <td class="align-right">
          <span id="rma_value">$0.00</span>
        </td>
      </tr>
    </tfoot>
  </table>

  <%= f.field_container :reason do %>
    <%= f.label :reason, Spree.t(:reason) %> <span class="required">*</span> <br>
    <%= f.select :reason, SpreeReturnRequests::Config[:return_request_reasons].split("\n") + ["Other"], prompt: Spree.t(:choose_a_reason) %> <br>
    <%= f.text_area :reason_other %>
    <%= f.error_message_on :reason %>
  <% end %>
</div>

<script>
  var line_item_prices = {};
  <% @return_authorization.order.line_items.group_by(&:variant).each do |variant, items| %>
    line_item_prices[<%= variant.id.to_s %>] = <%= items.first.inventory_units.first.price_after_discounts %>;
  <% end %>

  function toggleOtherTextarea() {
    $("#return_authorization_reason_other").toggle( $("#return_authorization_reason").val() == "Other" );
  }

  $(document).ready(function(){
    // TODO: prevent customer from entering more than what's possible into the Qty field
    var rma_amount = 0;
    $("td.return_quantity input").on('change', function() {
      var rma_amount = 0;
      $.each($("td.return_quantity input"), function(i, input) {
        var variant_id = $(input).prop('id').replace("return_quantity_", "");
         rma_amount += line_item_prices[variant_id] * $(input).val()
      });

      if(!isNaN(rma_amount)){
        $("span#rma_value").html('$' + rma_amount.toFixed(2));
      }
    })

    toggleOtherTextarea();
    $("#return_authorization_reason").on('change', toggleOtherTextarea);
  });
</script>
