<div class="new-return-request">
  <%= form_for(:return_request, :url => return_requests_url) do |f| %>

    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @return_request } %>

    <fieldset data-hook="new_return_request_form_fields" class="no-border-top">
      <legend align="center"><%= Spree.t(:new_return_request) %></legend>

      <div data-hook="return_request_fields" class="row">
        <div class="alpha twelve columns">
          <div class="field">
            <%= f.label :order_number, Spree.t(:order_number) %>
            <%= f.text_field :order_number %>
          </div>
          <div class="field">
            <%= f.label :email_address, Spree.t(:email_address) %>
            <%= f.text_field :email_address %>
          </div>
        </div>
        <div class="form-buttons filter-actions actions" data-hook="buttons">
          <%= button Spree.t(:new_return_request), 'icon-arrow-right' %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>

